 <!-- Modal Structure -->
 <div id="modal-forms" class="modal modal-fixed-footer">
   <form id="form-tables" method="POST">
    <div class="modal-content">
      <h4 id="modal-title"></h4>
      
      <div id="modal-content"></div>
      
    </div>
    <div class="modal-footer">
     <button type="reset" class="modal-close waves-effect waves-green btn-flat" id="cancel">Cancelar</button>
     <button type="submit" class="waves-effect waves-green btn-flat" id="ok">Salvar</button>
    </div>
  </form>
  </div>
<script>
  const cancel=document.getElementById('cancel');
   cancel.addEventListener('click',()=>{
    
    })
</script>
  