<%- contentFor('body') %>
<div class="row" style="margin-top:3em">
        <% for(t of data) { %>
            <div class="col s6" >
                    <div class="card blue-grey darken-1" style="margin-bottom: 5em;margin-right: 2em;">
                      <div class="card-content white-text">
                        <span class="card-title icon"><img src="images/icons/tableitem.svg" class="responsive-img "><h4><%- t.name %></h4></span>
                        <ul class="collapsible" id="<%- t.id %>">
                         
                        </ul>
                       
                      </div>
                      
                    </div>
                  </div>
            <% } %>
    
</div>
<script src="javascripts/fetchcustom.js"></script>
<script src="socket.io/socket.io.js"></script>
<script>
    

    const ul= document.querySelectorAll('ul');

    ul.forEach((f)=>{
      fetchGetCashiers('/list_cashiers',f.id);
    })
 
  

    window.onload=()=>{
      const elems = document.querySelectorAll('.collapsible');
      //const myul=document.querySelectorAll('UL');
      const instances = M.Collapsible.init(elems, {acordion:true});
          
       
      
       const socket=io('https://localhost:3000');

      
         
        socket.on('output',data=>{
          console.log(JSON.stringify(data))
        })

     

    // console.log(elems[0].id)


    }

</script>