<%- contentFor('body') %>
<div class=' container  mt-5'  >
      
    <div class="card col-sm-8" >
      <div class="card-header"> <h3>Login</h3></div>
      <form action="/menu" method="POST">
       <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <div class="form-group col">
                  <label for="user" >Usuário</label>
                  <input type="text" class="form-control" id="user"   name="name"/>
                  <span  class="bmd-help" >Usuário icorreto ou inexistente.</ span>
                </div>   
            </li>
            <li class="list-group-item">
               
                <div class="form-group col">
                      <label for="userbutton">Senha</label>
                      <input type="password" class="form-control" id="password"  name="password" />
                      <span  class="bmd-help" >Senha incorreta. Tente novamente.</ span>
                   </div>   
                  
            </li>
            
        </ul>
       
        <div>
        <%- include('../buttons/fabsubmit',{icon:'check'}) %>
        </div>
        </form>

    </div>
  </div>
 
