<div class="float-right">

  <button type="submit" class="btn btn-success btn-raised"  id="save" >Salvar </button>
  <button type="button" class="btn btn-danger btn-raised"  id="cancel" >Cancelar </button>
  
</div>
<script>
    const url='<%= url %>';
    const cancel=document.getElementById('cancel');

    cancel.addEventListener('click',()=>{
      document.location.href=url;
    })
</script>