<%- contentFor('body') %>



<div class="row">
  <div class="col s8">
    <div class="col s6">
        <h5>Mesa: <span id="span-table" ></span></h5>
    </div>  
    <div class="col s6">
        <h5>Comanda: <span id="span-note" ></span></h5>
    </div> 
    <div class="col s12">
        <h5>Pedidos:</h5>
        <table class="striped">
          <thead>
            <tr>
              <th>Pedido</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody id="itens">

          </tbody>
        </table>
        
    </div>  
    <div class="col s8"><h5>Total:<span id="total"></span></h5></div>
    
    
  </div>

  <div class="col s6 m3">
    
      <button type="button"  class="btn-floating btn-large green" id="btncheck">
       <i class="material-icons">check</i>
      </button> 
    
  </div>
  <div class="col s6 m3">
    <div class="fixed-action-btn">
      <button type="button" data-target="modal-tables" class="btn-floating btn-large red modal-trigger" id="btn-table">
        <img src="images/icons/table.svg" class="responsive-img">
      </button> 
      <button type="button" data-target="modal-notes" class="btn-floating btn-large red modal-trigger" id="btn-note" >
        <img src="images/icons/note.svg" class="responsive-img">
      </button> 
      <button type="button" data-target="modal-menus" class="btn-floating btn-large red modal-trigger" id="btn-menu" >
        <img src="images/icons/menu.svg" class="responsive-img">
      </button> 
    </div>
</div>

  <%- include modal-notes %>
  <%- include modal-tables %>
  <%- include modal-menus %>
 


</div>

  
<script src="javascripts/fetchcustom.js"></script>
<script src="socket.io/socket.io.js"></script>

<script>

const spanTable=document.getElementById('span-table');
const spanNote=document.getElementById('span-note');
//const itens=document.getElementById('itens');

//buttons

const btnCheck=document.getElementById('btncheck');
const btnTable=document.getElementById('btn-table');
const btnNote=document.getElementById('btn-note');
const btnMenu=document.getElementById('btn-menu');


//modal notes ids
const modalNotes=document.getElementById('modal-notes');
const titleNote=document.getElementById('title-note');
const comentNote=document.getElementById('coment-note');
const content=document.getElementById('content-note');
//const noteOK=document.getElementById('note-ok');

// codes input


const options={opacity:0.5}



  btnCheck.disabled=true;
  let myTable;
  let myNote;
  let myMenu=[];
  let cashier;
  let code;
window.onload=()=> {

  
  
  const elemsModal = document.querySelectorAll('.modal');
  
 
  let sideb=document.querySelectorAll('.sidenav');
  let newside=M.Sidenav.init(sideb,{edge:'left'})
  
   btnTable.addEventListener('click',()=>{
   let instances = M.Modal.init(elemsModal, options);
  
    let tableOK=document.getElementById('table-ok');
    let codeTable=document.getElementById('code-table');

    tableOK.addEventListener('click',()=>{
       let url=`/search_tables/?code=${codeTable.value}`;

      // myTable=codeTable.value;


      // myTable=spanTable.textContent;
       fetchTables(url,spanTable);  
       
       codeTable.value=null;
     })
   })

   btnNote.addEventListener('click',()=>{
    let instances = M.Modal.init(elemsModal, options);

     let noteOK=document.getElementById('note-ok');
     let codeNote=document.getElementById('code-note');

     noteOK.addEventListener('click',()=>{

       let url=`/search_notes/?code=${codeNote.value}`;
     //  myNote=codeNote.value;  
       fetchNotes(url,spanNote);

        codeNote.value=null;
      })

   })

   btnMenu.addEventListener('click',()=>{
   let instance = M.Modal.init(elemsModal, options);
  
    let menuOK=document.getElementById('menu-ok');
    let codeMenu=document.getElementById('code-menu');
   
    menuOK.addEventListener('click',()=>{
     code=codeMenu.value;
        let url=`/search_menus/?code=${code}`;

       
       fetchItensNotes(url,'itens');
     
      // document.getElementById('code-menu').value="";
       if(myTable!==undefined && myNote!==undefined || myTable!==null &&  myNote!==null ){
         console.log(myTable);
         btnCheck.disabled=false;
     }

    if(myMenu !==''){
      
      let data={
          table:myTable,
          note:myNote,
          menu:myMenu,
        }

        cashier=data;
    }
      
     
        
       // console.log(cashier)
      
       codeMenu.value=null;
     })
    
   })

  btnCheck.addEventListener('click',()=>{

  console.log(cashier)
   // let data=myProducts;

   fetchSaveNote('/save_cashiers',cashier);

   const socket=io(`https://localhost:3000`);

   
    socket.emit('tables');
    

   
  })


}
 

   

</script>
