<%- contentFor('body') %>



<div class="row">
  <div class="col s8">
    <div class="col s6">
        <h5>Mesa: <span id="span-table" ></span></h5>
    </div>  
    <div class="col s6">
        <h5>Comanda: <span id="span-client" ></span></h5>
    </div> 
    <div class="col s12">
        <h5>Pedidos:</h5>
        <table class="striped">
          <thead>
            <tr>
              <th>Pedido</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody id="itens">

          </tbody>
        </table>
        
    </div>  
    <div class="col s8"><h5>Total:<span id="total"></span></h5></div>
    
    
  </div>

  <div class="col s6 m3">
    
      <button type="button"  class="btn-floating btn-large green" id="btncheck">
       <i class="material-icons">check</i>
      </button> 
    
  </div>
  <div class="col s6 m3">
    <div class="fixed-action-btn">
      <button type="button" data-target="modaltables" class="btn-floating btn-large red modal-trigger" id="btnTable">
        <img src="images/icons/table.svg" class="responsive-img">
      </button> 
      <button type="button" data-target="modalclients" class="btn-floating btn-large red modal-trigger" id="btnClient" >
        <img src="images/icons/note.svg" class="responsive-img">
      </button> 
      <button type="button" data-target="modalmenus" class="btn-floating btn-large red modal-trigger" id="btnMenu" >
        <img src="images/icons/menu.svg" class="responsive-img">
      </button> 
    </div>
</div>

  <%- include modal-tables %>
  <%- include modal-clients %>
  <%- include modal-menus %>


</div>

  
<script src="javascripts/fetchcustom.js"></script>
<script src="socket.io/socket.io.js"></script>

<script>

const spanTable=document.getElementById('span-table');
const spanClient=document.getElementById('span-client');

const tableOK=document.getElementById('tableok');
const clientOk=document.getElementById('clientok');
const menuOK=document.getElementById('menuok');
const btnCheck=document.getElementById('btncheck');
const options={opacity:0.5}

const resultClient=document.getElementById('result-client');
const resultTable=document.getElementById('result-table');
const resultProduct=document.getElementById('result-product');
//const spanTable=document.getElementById('span-table');

let myProducts=[];
let myTable;
let myClient;

 // clientOk.disabled=true;
 // tableOk.disabled=true;
//  menuOk.disabled=true;
  btnCheck.disabled=true;

window.onload=()=>{

  let elems = document.querySelectorAll('.modal');

  let instances = M.Modal.init(elems, options);
  let instance=M.Modal.getInstance(elems);

  let sideb=document.querySelectorAll('.sidenav');
  let newside=M.Sidenav.init(sideb,{edge:'left'})
  
  
    tableOK.addEventListener('click',()=>{

      const result=document.getElementById('tablesinput').value;
      
       
      // create object of fetch data
      let data={
        db:'tables',
        code:result
      }

    fetchGarcon('/search',data,'span-table');
      
      myTable=result;
        
   });


   
   clientOk.addEventListener('click',()=>{
    const result=document.getElementById('clientinput').value;


     let data={
       db:'clients',
       code:result
     }

     fetchGarcon('/search',data,'span-client');
     myClient=result;  


     console.log(myTable);
     if(myTable!=undefined && myClient!=undefined){
      btnCheck.disabled=false;
     }
     

    
   });

   menuOK.addEventListener('click',()=>{
    const result=document.getElementById('menuinput').value;

    const tableName=spanTable.dataset.name;
    const clientName=spanClient.dataset.name;

   
      let data={
        db:'products',
        code:result,
      }
     
      fetchItens('/search',data,'itens')

      let dataProd={
        db:'dash',
        code:result,
        tables_id: myTable,
        tables_name: tableName,          
        clients_id:myClient,
        clients_name:clientName
        }
      myProducts.push(dataProd);
    //  console.log(myProducts)

    document.getElementById('menuinput').value="";
      
   })


    
}

  btnCheck.addEventListener('click',()=>{

    let data=myProducts;
    const socket=io(`https://192.168.1.108:3000`);


    socket.emit('tables',data);


    data.forEach((f)=>{
      console.log(`evento check - ${f}`);
    })
    
   
   // btnCheck.setAttribute('disabled','true');
  })



 

   

</script>
