 <!-- Modal Structure -->
 <div id="modal-menus" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 id="title-menu">Cardápio</h4>
      <p id="coment-menu">Digite o código do Item</p>
      <div id="content-menu">
        
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="number" id="code-menu" name="code">
          <label for="code-menu" class="active">Código</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat" id="menu-cancel">Cancelar</button>
        <button class="modal-close waves-effect waves-green btn-flat" id="menu-ok">OK</button>
       
    </div>
  </div>
  