 <!-- Modal Structure -->
 <div id="modal-notes" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 id="title-note">COmanda</h4>
      <p id="coment-note">Selecione a Comanda</p>
      <div id="content-note">
        
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="number" id="code-note" name="code">
          <label for="code-note" class="active">Código</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat" id="note-cancel">Cancelar</button>
        <button class="modal-close waves-effect waves-green btn-flat" id="note-ok">OK</button>
       
    </div>
  </div>
  