<%- contentFor('body') %>
<div class="container">
  <h2>Novo Menu</h2>
        <div class="mt-5">
        <form action="http://localhost:3000/post/sector" method="POST" name="sectors" id="sectors">
            <div class="form-group">
              <label for="sector" class="bmd-label-floating"> Setor</label>
              <input type="text" class="form-control" id="setor" name="sectors[sector]" />
              <span class="bmd-help">We'll never share your complete name with anyone else.</span>
            </div>
           
            
            <div class="form-group">
              <label for="description" class="bmd-label-floating"> Descrição</label>
              <input type="text" class="form-control" id="descriptiom" name="sectors[description]" />
              <span class="bmd-help">We'll never share your complete name with anyone else.</span>
            </div>
            
          
              <div class="form-check">
                     
                          <input type="checkbox" class="form-check-input" name="sectors[active]" />
                          <label  class="form-check-label">  Ativo </label>
              </div>

              <%- include('../buttons/buttonSubmit',{url:'/list/sector'}) %>
   
        </form>
        </div>

  
</div>
