<%- contentFor('body') %>
<div class="mt-5">
   
  <h2>Setores</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        
        <th scope="col">Setor</th>
        <th scope="col">Descrição</th>
       
      </tr>
    </thead>
    <% for(sector of sectors) {%>
    <tbody>
      <tr>
      
        <td><%= sector.sector %></td>
        <td><%= sector.description %></td>
       
      </tr>
      <% } %>
    </tbody>
  </table>
    <div class="float-xl-right mt-5">
        <%- include('../buttons/fab',{url:'/add/sector',icon:'add'}) %>
    </div>
</div>
